<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>weather database</title>
</head>
<body>
<p>Author: Yann Liu</p>
<p>Welcome to the database.</p>
<p>Usage: There are two methods to get the weather data</p>
<p>First: get the data monthly, e.g. <a href="http://127.0.0.1:5000/month?month=201602&city=beijing">http://127.0.0.1:5000/month?month=201602&city=beijing</a></p>
<p>Second: get the data in an actual day, e.g. <a href="http://127.0.0.1:5000/day?day=20160201&city=beijing">http://127.0.0.1:5000/day?day=20160201&city=beijing</a></p>
</body>
</html>
